Source: purelight
Section: user/office
Priority: extra
Maintainer: Ilya Skriblovsky <Ilya.Skriblovsky@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4

Package: purelight
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simpliest flashlight application for MeeGo Harmattan
Version: 1.0.0
XSBC-Maemo-Display-Name: PureLight
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAE+ZJREFUeNrN
 W2twVVWWXjf35ub9IiGBAAEhgY4idDeoAyrqYEu12NPTDj5Ax7GcqamurrIcdWhwHKu0LO1qkeka
 xq5qe6Z/jEPRZYvWUAo1As2rEFSwGkHe4f1KyIO8k5vk5s737Zx13dk55wYaaPtW7Zz3OXt9a61v
 rb32Tkiu02/FihWRtLS0jFAolI7DNGxD3jYNW7PvbflLoPWzJfCztvH+/v4+tO5nnnkmfj36GbpW
 L3rrrbdGQOBx2C2Nx+Mj0enK7u7u7+B4DITOwjYHLRv72djyOOK8ogetC3J3YtuBxm1bOBw+n56e
 /mUkEjmCZy/ivY1o555++ulL3zgAy5Yti2ZlZT2GTs/r6ekZ29HRUY79kbiUi04KzsmAIiW5dfcH
 dSYUGrIFAALhBeDyVFM0GmW7gHYK71l/8eLFVa+++mr8TwrA8uXLS6GVxRByUX19/QhsMymUI2zC
 E+KPBtkGygWHwGRnZ3fl5uY24HAlwF6+ePHixusGwMKFC0O33nprJcx7GTr2w5aWFoGJs0OJa+lK
 V4IPv0vLyMnJYSOHrMbxkmefffbkNQXgtddey4SpPxGLxf6tqakph+b9DQruYygJY2iZmZkCi2iB
 e/wTzq16/vnne64agDfffLMIm1+2t7c/1NbWFlHk5c/vl/BcI5SXl9cD9/htX1/f00uWLGn7owF4
 4403bgay60A0Y6n1yxU+iPCCyM+PCFPtD+cWnjUkCgsLTwCE+5cuXXr4igEAwxdB6L0XLlwYe7nm
 7jK+TYwegEPO689j+aSw2uzjKwDD9JfRY+TIkcfw7W8DhHa/G8N+J19++eVMPPzrurq6272EJDSc
 4NooqNtAnCmbfZ/u2+90AbsMSwopN/T29hbCGsbce++96zZu3Njv3ugmI/LII4+E8MATra2tD7FD
 qYR3Na0AuFtbIN33M31agWpb97m19/2sIwgEItDV1ZUGZT4KctyMc+8M6wKvv/56Fdj+D5cuXcpJ
 5fO28K7Qqknd8hx8Mdlx2x1cN+A1xngVnM0+dsG5HJfgfUVFRc2IDtNfeOGF0yktACazjKFuONP3
 M3tXcArNH7e8D9ow+2y8R0GkAPRXNoYyzfzYuK8A2Fs+o8/b/BEUJhHFChEd3sDxo4EW8Morr5Sh
 47XI7gJRdf3S9XMKp8dMhWFNRgi+DxowDVnkIM2pRnmfAsTW3NycBEVTYjs1dl1iOEsAIdKnS8Bx
 zb4WgBcs5kcTA79QkPDK6i7BwXrMdQoNxGXUqFEyceLEJAAEhI33qQXwPJIsycjIYBIjI0aMoLma
 Y17fv3+/7Ny501zjOb6Lz9qWYbtCAAgmU0IeEy4oKPhnHP/rkCjw4osvRnHPfwGAPD/Td33e1TqF
 Vo2zY/fcc49UVlaajisAtl9rozXwOhIXgYlKfn6+IH5LeXm53HjjjeY9kyZNkj179khnZ+cQn3fH
 CwERgoRI4BP4zthbbrnlP3bs2DEYgLlz5z4B018AwcLUvl8YckMbBac2Kbia/rhx4+TJJ580grus
 7hIaBadWmcvTClR4tuLiYgMC7+F7p0yZIgcPHhSMOJOW40YRN1Q6LcEsEe9KB9Ant2zZsm+QC0Cg
 eRAi0w9BZW2b4dVPCQAbNTh79myZN2+ekEO8EJoUWkmOYKmv8316niDQArTRDcgXfBcHXgjL5t1b
 t26V8+fPmz6oS6iQw7hDiN/GczlQzn04XpW0gJdeeqkEPvtjmO84P81rs1meAqg/U3uLFi0yHeSx
 m825Zq+AUEASHJ8nAPDPpPZBWOYbDQ0NgpAsiEwGBHIEf42NjUmhg9Jmn0Qqge+G8P1Lc+bMWbN9
 +/buiKfhMRBmlF98duO8hjDVPM9hmCzTpk0z1yiMDQCF1UZ/Z+Mw2hAmTRDnlQDpAgSCIKj2SaZs
 +i32Y8KECQJCE4xRBoVAfkP7bOcJlizGtSFrOSy2HKeaI96FUrx8pAuAy/q2+ZPsuGVnwB/GTNl5
 apTNTkJU65oLxNAaa2ulA0IQkAJoPDp+/ACAcCWCwffT3yk8n+F3lTT5HoK+efNmc48bBvVbflzh
 uWApw2GSA/DhEnwgN5UFqPA26dHvH3zwQROvKbQSEfepQTVRQnjq7Bmp+XSXnN22Q/pg0lldMQnF
 8b1wmlyMpssBtKyykTLtr38gdzwwX0oBCoWzSU/5Qi2MLrdmzRoDlm0FNh+4nOZlpRzoFZv7n3vu
 uQgOFsAs78KFQdmfy/52kkKtzJ8/3xCWsr3tf+wotRXHc2tWr5ajv/kfiW/ZIXiTxEeXSgzCdpeX
 SWzkCEnkD0SMSC1MfuM2+cMnn8ixWKeUjxljANCcgcJpMqUJFcnywIED5vhyEiIFh4XWWbNm7Yjg
 5gwIM80uYPpp3475vJcxnkTl5gO0EDtX/8XPfiZ56zZJdm9cTv7FTIllZklWbg4UDw2FWFkaeL4b
 z7ZVxKSxuUUmfXlY6n/xK/nPvXtlweOPJ/nDToO1jYfrVFVVydmzZweFXb9htuMK0/HOKLWfjlbu
 oTwEOpv5VUh+oLq6Oom6DRavs5PU/IqfL5PS99ZKS1mpnL11uoSjILnMHE8YpsY07R5TEY/HewFO
 TLoyonLw9myp2HdUytZskHfhJgsef8x8S3MI29rIO9OnT5dTp04l+2ZHBtetec7LWcYwNSAAaWhZ
 fsNU1wI0AjAUUfvK7nanzIAK96393zVS+PFmaR1dJsdm3CZ5afkgtyLwQ7aJFAM1FuYCLKx24Dtd
 BhijYbzv+MypUrn7KynZvEM+QXI17/7vm+vuUJjfrqiokLKyMhMaLyc1NgqKx7Mpe8QLDTmpCNDO
 /vhCCs+mvq55uZrnSWijYc06yerrl5PVUyU/UiC5OcXgi2IT6jIzIzKQLpBMu/CdqOHjSCT8tcni
 26emVkr1zj3SunGLNN0+SyZNuMF3EMWoQQAYFtkHlcUvFOrolAkRZVcLyPYDwB3i6vB2DMiJWuR5
 HZkpEH24r2bXbomeOis1375ZotmFkp1VAMFLpLS0ENaTibgfBQAhhDgBmbbgPWHDvchRvv6ucade
 OTZtilTsOSSn9uyVm75VnRxX2I3nyEn79u0z/VShNRv1K75AeMocogWk8cDvZjcD5I9JC/NyhjpN
 ZW1y6kZIOrZhs6SB2UNFI+CjBbg3BwBwpJdh8gb6bWNjPZ7rwXMJYw2JBEeIdIn+ZKIVS49KLC9H
 OtBqNmySCLiAUce1ALYZM2bI2rVrkyPN4aIBla4WEFIOGM4CFACaG3MAN9Ex02Fd3RKrb5QQQl3E
 5AYMOUx5080zubnZACAbLJwH7bdBy0xwmOV14xvdRusa4kzWiPd2lhRK2sUG6QG4+bA+v8IprVKz
 TPZHQUgBQJbhAM8FIt5kRyAHqGkRgLFjxybdQf1ME5Am+GG0o1O6YeaRCO9nPpAGgRPoXD/y+ibT
 SaYc4TDdgQAgX4in41z6oKKHIVi0nmyEzqZmudTQKDdNnTqkwsxj1h4IHPtpV4z8BneeUgdZgPgB
 YBOg1vUIAJMPjs3d+hzvaUNWGGLeTkILDYS5/v4ew/htbXSZHlgBv8WCB0Ohpq8UJm3IIEoYynBL
 5FKr1GEUqAMwd4xCTiIA2l+1gqBkyAPBAJB8KIgD7GIn0aUfKso2AP24JyMzA35hpAGtsQO9uB5D
 pzsAYAZAYN0xy2g+GiVZsYDCJKxP/MYiA1YGcNMHCJZjAw3HtnIICi3LttogF1DrwD2JCF6UsEku
 iAOU8flxCqu5vm2GvF5xww3Sm4FEp6fP00DMxHmRTGiPZk3t9BmzZ9GZRJhIdJlEyE61k4VTgt4L
 cizMl0LkHwTAnU/wRnjGKu3cJRUA8YFfghbA1Rg92ET9OMBuijLjrfqbAqVg5MM9+uAmYXQmZgTp
 MUmOSKv3zj5zHI9HTDbY309hWErrTtYM7UJLAu9O78T9+F5hSXGysuySM8cMms77zUz5KLfLWAAB
 wEu4MiPq3uxOavBjHPaeOXMGMb00OUix74FUkl1WIqHzdSa378mk5mMgwk4T5xnq4nHmAel4Li2Z
 PrPzFI4AsxlfR0NCIJlNLRKunGDcjiM/DXV26Z1KsQEImnuw5h86FYCEd1Dglwq7NQGa4O7du+Wu
 u+5KktGgUSO2ld+bK7X//jYGNq0D0SD8dYbHOM9QpwmNAsvOU3CCoA1dk4yWNsmDBYydd695h1qI
 7SZ8z+HDh801JWNbaX4AcCmOcQH8oRF0pBoL2IhS6JqaGpk5c6bRhg2OfnTctKly4oZxUrn3kByY
 /R2T29ucogMbdTkVRgGgL5Pw+rE/6asj0lldJZNvmZkc3GhWqo0/DobsOqSdDgdwW6dygLEAP3/x
 m8/j/okTJ+T06dMmB/ebFywsKJC8++6W2H//Tiq+OirHZ0w1USHuFVS0FG4DoIUW4+MQpItD7q9q
 pAdD57ELfijjkego4G5lmgWZ2traQMsNGONQ6f20AJpAW9CkpUsqvI/Cc/zNUZjfTC61e8fdd8t7
 Z85K+Ye/N6M6Dmxo+kxvddSn5pqsMZqqbcJovnJ/jWTQhZ58SB5++GHpglXYtQC79ldXV2c4wK1i
 p5gn4Pk2YwHY4Tq880H+4ocmO7tr1y5TxXXLTvwoBcxEZ//2H/5eViEhKv79DvnWji/l+LTJEsvP
 MektMzxRQUim7DQIL6O5TSbC7GM5GdL66F/Jv/z0pwKWNu9065I628RJE241NNvc4hcCPQDPcw1i
 GKOofghRBaH+0n0gqDzODtDkaAHsmIYs9UeCwsESc/9Zd94p9aOKpaWhXooO1EiUjI64HuqOSRpS
 5nB7p2S0tktOQ5MUnTwnxedqpWPSeCl45Efy6GOLjGD8qdW4Vnns2DFZv379kJpEqplS3BtCRvsO
 +vtJ+MiRI4nq6upRIKCHXFZ3ecD9OMvWkydPNr6p4IW9Mje1YdLmwkIzYVJ131xpKy2W2gu1Er90
 STIARM7ZWmybJc08D1cqHSEF878nkx/4vtx8001G85rR2dNodk6/cuVKM2dgc4o7debIxJUj/VDQ
 Lz/88MPDOi/QiIstDIWXsxBC9y9cuCAbN26UOXPmJDNEO4/X6jCLICTM8A8ekInTp8n5c+fkPHKJ
 xov1JmwWFBVKLtwpg5MksJosbFn3t6fRtdGqOJzme99++205efLkkDJ4UElcCzhccAlZm5JlcXzk
 Ih6o98sF3PDhzr8dP37cCMeJEbsCo0NadpbnqKV2CEVrof9nAxTx5v3MwMWLECEQYNwbdNllOP22
 rgv84IMP5PPPPx8yC5RqDKAzQ1xyi2/V2/MC53CBRFiZKhL4LYJipw8dOmQGSJzN1XUAOunJ87yH
 oYpZJDXLphMeds1f+YTPq+C28PrjzO5HH32ULMDaChqmNB7y5jHP4d4LyblBEEl3VVXVXPDANIYG
 d3bYbwWYDQ61yjk8/lgt4tCUQ+aSkhJj/gxT5Aud51MgNOW1C6+67+YWWnP4+OOPZfXq1ckCaNB6
 Ib/ZYZIfLwGAzRs2bFg9aHYYH1oP5P+ml2PVFGv3bD+zQyAnLj/99FMj1FNPPZWc66eg1D4F5z0c
 tDDTo/aVdNV1dLSpub66gALx/vvvy969ewcVPdx4b7uEKwaVC3dtx3b9kAUS6Ox+tH9Exwp0RYWi
 G0Qo7iJmdpJT1+QFFikZJqkpJincqvYJiM4t+i2Xs9NvnmfIZag7evTokJVjfk37a1lHQhdtQzFn
 Nm3a9OMhAMBMExMmTBiJTt2Jj4bc6WYXhFQLGWnyjA7nwPYUgFZArdMC6Ps6dHUF1VDLLS2JQHHa
 64svvjDA+RVh3D4EKCvkRaUQeGYFIsdW30VSCGecMLyID6fZqPmZv1/Y8VsfyLA1evTo5LofJTq7
 YKGTrjrnyKagaXgNmvAYbs2grqTmNVh4N2fBt2/f3h64ThAgvAsNPWxCUoolsn4guMmSS6Q6d2CX
 tfUZJT71eT/TtkvhPmbuq33vXALgcwHoO9u2bfu7lOsEcfMSsPg8dKiARcMAVH3X6NgJiTuAsk07
 VaFiSFHUmQnyW09sg+GjfT4XAsHXY3/psGuFMa5uBhdwbHk/QAgnF+P7FBVd0wviCb9lsEEtiOQ0
 4gQRXpDpc2EUNN8J1/vJ1q1bdw4BPUATq2Ayv8VDcV1zG1RZDfJFP+HdVWKpQHCfDfL3IOG9ZfPM
 /Hqh/ZVQ5rtXtFweXMD1gnvA3BM1kfDzB5sDruT/Aq74f3uGiUpD/n0EuzR9hL2D2P8ufL/7iv9h
 4o477piCzf+BlStATmm60upq/hHqKv83JtUS3qTWKTg1Dy6rAe/MB+ufCHpnONUHT58+3Yhk5jdw
 hTF4aTUrSLrq0v7vjD/VbxhzN8Kjr4z1nRzvI5L9COOGhlTvDA/3UYDQA1JcBwBOwn/n4nsZXhoc
 +iYtwhZceQK+btge2v8Jrv0cwvdes3+b81yiAlbAJecLkMmZCMGs0f1/ouuBh8UrScuDoCzoMrmi
 ydPHfwcwlsLkL1zTf5tzf7Nnzy7AhxajUwsBBP9VNoc9GjRBMowgfgXLVON4TWet8EeGb4fwdTgm
 yy/fuXNn+xW71dVo5bbbbqO/LcTufehABVo5QOAixCJ2VmuEQdNVuCc59A4Kc5r/s4SN+xuwX4dz
 tRDe/OsstP3eVfHKtTJRuEchNuXeCsxigFGFDn6XaxfQOBdv/nnaa1lclaKLKuhJEIwTiJ3acNzB
 0jW25yH4HrQjOE9CY+XqIvy79ZoQ6/UiqVmzZqVBQK5+IleYf5/XcYmXgIW8ZXkJb8wxqOHHPJw+
 3gcwez/77LP+69HP/weqH2kYFuSyxAAAAABJRU5ErkJggg==
